{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"><strong>Data Kasir</strong></h1>
    </div>

    <div class="mb-3">
        <button type="button" class="btn btn-danger btn-add" data-bs-toggle="modal" data-bs-target="#modalUser">
            <i class="fa-solid fa-plus"></i>
            Tambahkan
        </button>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nama</th>
                            <th>Email</th>
                            <th>No. Telepon</th>
                            <th>Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Ultraman Cosmos</td>
                            <td>cosmos@gmail.com</td>
                            <td>0812432424</td>
                            <td class="d-flex justify-content-around">
                                <button type="button" class="btn btn-warning btn-edit"  data-bs-toggle="modal" data-bs-target="#modalUser">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </button>
                                <button type="button" class="btn btn-danger btn-delete" data-id="1" data-bs-toggle="modal" data-bs-target="#deleteModal">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% include 'components/modal_user.html' %}
    
    {% include 'components/delete_modal.html' %}

{% endblock %}


{% block script %}
    <script>
        
        $(document).ready(function () {
            $('#collapseTwo').collapse('show');
            $('.users-nav-item').addClass('active');
            $('.cashier-nav-item').addClass('active');


            $('.edit-table-btn').on('click', function() {
                var row = $(this).closest('tr');
                var id = row.find('td:eq(0)').text();
                var name = row.find('td:eq(1)').text();
                var email = row.find('td:eq(2)').text();
                var phone = row.find('td:eq(3)').text();

                var editname = document.getElementById('edit-name').value = name;
                var editemail = document.getElementById('edit-email').value = email;
                var editphone = document.getElementById('edit-phone').value = phone;
            });
        });
    </script>

{% endblock %}