{% extends 'base.html' %}
{% load static %}


{% block content %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"><strong>Data Kriteria</strong></h1>
    </div>

    <div class="mb-3">
        <button type="button" class="btn btn-danger btn-add" data-bs-toggle="modal" data-bs-target="#kriteriaModal">
            <i class="fa-solid fa-plus"></i>
            Tambahkan
        </button>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Kriteria</th>
                            <th>Pertanyaan</th>
                            <th>Bobot</th>
                            <th>Atribut</th>
                            <th>Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for kriteria in kriterias %}
                        <tr>
                            <td>{{kriteria.id}}</td>
                            <td>{{kriteria.nama_kriteria}}</td>
                            <td>{{kriteria.pertanyaan}}</td>
                            <td>{{kriteria.bobot}}</td>
                            <td>{{kriteria.atribut}}</td>
                            <td class="d-flex justify-content-around">
                                <button type="button" class="btn btn-warning btn-edit"  data-bs-toggle="modal" data-bs-target="#kriteriaModal">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </button>
                                <button type="button" class="btn btn-danger" data-id="1" data-bs-toggle="modal" data-bs-target="#deleteModal">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% include 'components/modal_kriteria.html' %}

    {% include 'components/delete_modal.html' %}

{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {
            $('#collapseMenus').collapse('show');
            $('.menu-nav-item').addClass('active');
            $('.kriteria-nav-item').addClass('active');

            const csrf_token = '{{csrf_token}}';

            $('.btn-add').on('click', function() {
                $('#kriteriaModalLabel').html('<strong>Tambah Kriteria</strong>');
                $('input').val('')
                document.getElementById('kriteriaForm').action = '{% url "add_kriteria" %}';
                $('[name="csrfmiddlewaretoken"]').val(csrf_token);
            });

            var table = $('#dataTable').DataTable();
            var row_data;
            $('.btn-edit').on('click', function() {
                $('#kriteriaModalLabel').html('<strong>Edit Kriteria</strong>');

                // get data from row 
                row_data = table.row($(this).parents('tr') ).data();
                $('#inputNamaKriteria').val(row_data[1]);
                $('#inputPertanyaan').val(row_data[2]);
                $('#inputBobot').val(parseFloat(row_data[3]));
                $('#inputAttribut').val(row_data[4]);

                document.getElementById('kriteriaForm').action = '{% url "edit_kriteria" %}';
                $('[name="csrfmiddlewaretoken"]').val(csrf_token);
            });
        });
    </script>
{% endblock %}