{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% include 'components/style.html' %}
    <style>
        .vertical-center {
          min-height: 100vh;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
    </style>  
</head>
<body>
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-3 vertical-center">
                <div class="card py-4 shadow">
                    <div class="text-center">
                        <h3 class="card-title text-danger"><strong>Lentera Cafe Admin</strong></h3>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-4">
                                <p class="card-title card-text">Selamat datang</p>
                                <p class="card-text text-xs">Silahkan Login untuk melanjutkan</p>
                            </div>
                            <div class="mb-2">
                                <label for="inputEmail" class="form-label text-xs">EMAIL</label>
                                <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" name="inputEmail">
                            </div>
                            <div class="mb-4">
                                <label for="inputPassword" class="form-label text-xs">PASSWORD</label>
                                <input type="password" class="form-control" id="inputPassword" name="inputPassword">
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn bg-danger text-white btn-block btn-login">Masuk</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'components/scripts.html' %}
</body>
</html>

