{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"><strong>Data Menu</strong></h1>
    </div>

    <!-- Add Button  -->
    <div class="mb-3">
        <button type="button" class="btn btn-danger btn-add" data-bs-toggle="modal" data-bs-target="#itemModal">
            <i class="fa-solid fa-plus"></i>
            Tambahkan
        </button>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nama Item</th>
                            <th>Kategori</th>
                            <th>Harga</th>
                            <th>Rating</th>
                            <th>Stok</th>
                            <th>Gambar</th>
                            <th>Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for menu in menus %}
                        <tr>
                            <td>{{menu.id}}</td>
                            <td>{{menu.nama_item}}</td>
                            <td>{{menu.kategori}}</td>
                            <td>Rp{{menu.harga}}</td>
                            <td>{{menu.nilai}}</td>
                            <td>{{menu.stok}}</td>
                            <td class="text-center">
                                <img width="50" height="50" src="https://img.kurio.network/_Ebs2rDtquiA4Cf2zJljDmjneq8=/440x440/filters:quality(80)/https://kurio-img.kurioapps.com/21/02/24/4f99af33-b3c1-47cd-a219-f1a5289f8b29.jpe" class="rounded">
                            </td>
                            <td class="d-flex justify-content-around">
                                <button type="button" class="btn btn-warning btn-edit"  data-bs-toggle="modal" data-bs-target="#itemModal">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </button>
                                <button type="button" class="btn btn-danger btn-delete" data-bs-toggle="modal" data-bs-target="#deleteModal">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% include 'components/modal_item.html' %}

    {% include 'components/delete_modal.html' %}

{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {
            $('#collapseMenus').collapse('show');
            $('.menu-nav-item').addClass('active');
            $('.items-nav-item').addClass('active');

            const csrf_token = '{{csrf_token}}';
            
            // add function
            $('.btn-add').on('click', function() {
                $('#itemModalLabel').html('<strong>Tambah Item</strong>');
                $('input').val('');
                document.getElementById('itemForm').action = '{% url "add_item" %}';
                $('[name="csrfmiddlewaretoken"]').val(csrf_token);
            });
            
            // edit function 
            var table = $('#dataTable').DataTable();
            var row_data;
            $('#dataTable tbody').on( 'click', '.btn-edit', function () {
                $('#itemModalLabel').html('<strong>Edit Item</strong>');

                // get data from row 
                row_data = table.row($(this).parents('tr') ).data();
                $('#inputIdItem').val(row_data[0]);
                $('#inputNamaItem').val(row_data[1]);
                $('#inputKategoriItem').val(row_data[2]);
                $('#inputHargaItem').val(parseInt(row_data[3].match(/\d+/)));
                $('#inputStokItem').val(row_data[5]);

                document.getElementById('itemForm').action = '{% url "edit_item" %}';
                $('[name="csrfmiddlewaretoken"]').val(csrf_token);
            });

            // delete function 
            $('#dataTable tbody').on( 'click', '.btn-delete', function () {
                $('#deleteModalLabel').html('<strong>Delete Item</strong>');
                // get data from row 
                row_data = table.row( $(this).parents('tr') ).data();
                $('#inputId').val(row_data[0]);
                console.log(row_data[0]);

                document.getElementById('deleteForm').action = '{% url "delete_item" %}';
                $('[name="csrfmiddlewaretoken"]').val(csrf_token);
            });

        });
    </script>
{% endblock %}