{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"><strong>Data Menu</strong></h1>
    </div>

    <div class="mb-3">
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#registerModal">
            <i class="fa-solid fa-plus"></i>
            Tambahkan
        </button>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nama Item</th>
                            <th>Kategori</th>
                            <th>Harga</th>
                            <th>Rating</th>
                            <th>Stok</th>
                            <th>Gambar</th>
                            <th>Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Mendoan</td>
                            <td>Makanan</td>
                            <td>Rp5000</td>
                            <td>4.8</td>
                            <td>Ada</td>
                            <td class="text-center">
                                <img width="50" height="50" src="https://img.kurio.network/_Ebs2rDtquiA4Cf2zJljDmjneq8=/440x440/filters:quality(80)/https://kurio-img.kurioapps.com/21/02/24/4f99af33-b3c1-47cd-a219-f1a5289f8b29.jpe" class="rounded">
                            </td>
                            <td class="d-flex justify-content-around">
                                <button type="button" class="btn btn-warning edit-table-btn"  data-bs-toggle="modal" data-bs-target="#editModal">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </button>
                                <button type="button" class="btn btn-danger" data-id="1" data-bs-toggle="modal" data-bs-target="#deleteModal">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% include 'components/add_modal_item.html' %}

    {% include 'components/edit_modal_item.html' %}

    {% include 'components/delete_modal.html' %}

{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {
            $('.menu-nav-item').addClass('active');


            $('.edit-table-btn').on('click', function() {
                var row = $(this).closest('tr');
                var id = row.find('td:eq(0)').text();
                var name = row.find('td:eq(1)').text();
                var category = row.find('td:eq(2)').text();
                var price = row.find('td:eq(3)').text();
                // var rating = row.find('td:eq(4)').text();
                var stock = row.find('td:eq(5)').text();
                // var picture = row.find('td:eq(6)').text();

                document.getElementById('edit-name').value = name;
                document.getElementById('edit-category').value = category;
                document.getElementById('edit-price').value = price;
                document.getElementById('edit-stock').value = stock;
            });
        });
    </script>
{% endblock %}