{% extends 'base.html' %}
{% load static %}


{% block content %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"><strong>Data SAW</strong></h1>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nama Item</th>
                            <th>Subriteria</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for saw in saws %}
                        <tr>
                            <td>{{saw.id}}</td>
                            <td>{{saw.alternatif}}</td>
                            <td>{{saw.subkriteria}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% include 'components/delete_modal.html' %}

{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {
            $('#collapseMenus').collapse('show');
            $('.menu-nav-item').addClass('active');
            $('.saw-nav-item').addClass('active');
        });
    </script>
{% endblock %}