{% load static %}

<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h1 class="modal-title fs-3" id="registerModalLabel"><strong>Tambah Item</strong></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form method="post" id="addItemForm">
                        {% csrf_token %}
                        <div class="row g-1">
                            <div class="col-lg-6">
                                <label for="register-name" class="form-label">Nama Item:</label>
                                <input type="text" class="form-control" id="register-name" name="register-name">
                            </div>
                            <div class="col-lg-6">
                                <label for="register-category" class="form-label">Kategori:</label>
                                <input type="text" class="form-control" id="register-category" name="register-category">
                            </div>
                            <div class="col-lg-6">
                                <label for="register-price" class="form-label">Harga:</label>
                                <input type="number" class="form-control" id="register-price" name="register-price">
                            </div>
                            <div class="col-lg-6">
                                <label for="register-stock" class="form-label">Stok:</label>
                                <input type="text" class="form-control" id="register-stock" name="register-stock">
                            </div>
                            <div class="col-lg-6">
                                <label for="register-picture" class="form-label">Gambar</label>
                                <input class="form-control" type="file" id="register-picture" name="register-picture">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Batal</button>
                <button type="submit" form="addItemForm" class="btn btn-danger" id="register-btn">Tambah</button>
            </div>
        </div>
    </div>
</div>