{% load static %}

<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h1 class="modal-title fs-3" id="registerModalLabel"><strong>Tambah Kriteria</strong></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form method="post" id="addKriteriaForm">
                        {% csrf_token %}
                        <div class="row g-1">
                            <div class="col-lg-6">
                                <label for="register-kriteria" class="form-label">Nama Kriteria:</label>
                                <input type="text" class="form-control" id="register-kriteria" name="register-kriteria">
                            </div>
                            <div class="col-lg-6">
                                <label for="register-pertanyaan" class="form-label">Pertanyaan:</label>
                                <input type="text" class="form-control" id="register-pertanyaan" name="register-pertanyaan">
                            </div>
                            <div class="col-lg-6">
                                <label for="register-bobot" class="form-label">Bobot:</label>
                                <input type="number" class="form-control" id="register-bobot" name="register-bobot">
                            </div>
                            <div class="col-lg-6">
                                <label for="register-attribut" class="form-label">Attribut:</label>
                                <select class="form-select" aria-label="Default select example" id="register-attribut" name="register-attribut">
                                    <option value="cost">Cost</option>
                                    <option value="benefit">Benefit</option>
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <label for="register-subkriteria" class="form-label">Subkriteria:</label>
                                <textarea class="form-control" id="register-subkriteria" rows="3" placeholder="contoh: siang, sore, malam" name="register-subkriteria"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Batal</button>
                <button type="submit" form="addKriteriaForm" class="btn btn-danger" id="register-btn">Tambah</button>
            </div>
        </div>
    </div>
</div>