{% load static %}
<!-- Modal Delete -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h1 class="modal-title fs-5" id="deleteModalLabel"><strong>Hapus Data</strong></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Yakin ingin menghapus data?
            </div>
            <form method="post" id="deleteForm">
                {% csrf_token %}
                <input type="text" name="inputDeleteId" id="inputDeleteId" hidden>
            </form>
            <div class="modal-footer d-flex justify-content-around">
                <button type="button" class="btn btn-outline-danger col-4" data-bs-dismiss="modal">Batal</button>
                <button type="submit" form="deleteForm" class="btn btn-danger col-4">Yakin</button>
            </div>
        </div>
    </div>
</div>